/* <link rel="stylesheet" href="index.css?v=<?php echo time(); ?>"> */

.grp_name1 {
    padding: .65rem 1.25rem .65rem 1.25rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline-color: #c5e2fc;
}

.search_etd1 {
    background-image: url('../../../Uploads/Default_images/search.png');
    background-position: .75rem .7rem;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 1rem;
    padding: .65rem 1.25rem .65rem 2.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: .75rem;
    outline-color: #c5e2fc;
}

.list_etd1 {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1.1rem;
}

.list_etd1 th,
.list_etd1 td {
    text-align: left;
    padding: .75rem;
    padding-left: 1.25rem;
    width: 22%;
}

.list_etd1 tr {
    border-bottom: 1px solid #ddd;
}

.list_etd1 th {
    font-size: 1.25rem;
}

tr .check_cell1 {
    width: 12%;
}

.list_etd1 thead,
.list_etd1 tr:hover {
    background-color: #c5e2fc;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-top: .15rem;
}
