.pass_box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.label_field {
    color: #888;
    font-size: 18px;
    padding: 10px 0px;
}

.d_none2 {
    display: none;
}

@media screen and (min-width: 992px) {
    .pass_box2 form {
        width: 70%;
        margin: 0 auto;
    }
    .pass_box2 .btn2 {
        font-size: 1.25rem;
    }
}
