.show_input_file1 {
    color: #6c757d;
    cursor: pointer;
}

.show_input_file1:hover {
    color: #0d6efd;
    font-size: 16.5px;
    text-decoration: underline;
}
/* 
.file_label1 {
    background-color: #0d6efd;
    color: white;
    display: inline-flex;
    align-items: center;
    border-radius: 30px;
    height: 30px;
    padding: 20px 20px;
    cursor: pointer;
    transition: all ease-out 200ms;
}
 */
.search_etd1 {
    background-image: url("../../Uploads/Images/Project_images/search.png");
    background-position: 0.5rem 0.5rem;
    background-repeat: no-repeat;
    padding: 0.5rem 1.25rem 0.5rem 2.5rem;
}

#data-etd th, 
#data-etd td {
    width: 20%;
}

.d_none {
    display: none;
}
