
/* class contains all the upload sapce */
.contener_uploads{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  /* drop space contains uload folder and files */
  .drop_space{
    border-radius: 10px;
    width: 33%;
    height: 71vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .drop_space .upload_folder{
    width: 100%;
    height: 42%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .drop_space .upload-file{
    width: 100%;
    height: 37%;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  /* space to schow folder and file */
  .space_folder{
    box-sizing: 1.563rem;
    width: 32%;
    height: 85vh;
    margin: 0.75rem 0.375rem 0 0.313rem;
    box-shadow: 1px 1px 10px rgb(0 0 0 / 22%);
    border-radius: 0.688rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .space_file{
    width: 33%;
    height: 85vh;
    margin: 0.75rem 0.375rem 0 0.313rem;
    /* background-color:#6990F2; */
    box-shadow: 1px 1px 10px rgb(0 0 0 / 22%);
    border-radius: 0.688rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .wrapper_F_f{
    width: 100%;
    background: #fff;
    border-radius: 5px;
    padding: 1.875rem;
    box-shadow: 1px 1px 10px rgb(0 0 0 / 22%)
  }
  .wrapper_F_f header{
    color: #6990F2;
    font-size: 1.563rem;
    font-weight: 600;
    text-align: center;
  }
  .wrapper_F_f form{
    height: 150px;
    display: flex;
    cursor: pointer;
    margin: 1.875rem 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 0.313rem;
    border: 2px dashed #6990F2;
  }
  form :where(i, p){
    color: #6990F2;
  }
  form i{
    font-size: 3.125rem;
  }
  form p{
    margin-top: 0.938rem;
    font-size: 1rem;
  }

  .contener_uploads .title{
    width: 100%;
    height: 3.12rem;
    background-color: #0d6efd;
    border-radius: 0.688rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contener_uploads .title p{
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600
  }

/* class show is a combines between uploded_files_space and uploded_folders_space */
  .contener_uploads .schow{
    width: 99%;
    margin-top: 0.188rem;
    height: calc(100% - 55px);
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  /* style folder  */
  .space_file .uploded_files_space .file,
  .space_folder .uploded_folders_space .folder{
    width: 100%;
    height: 50px;
    display: flex;
    margin-top: 0.394rem;
    /* border-bottom: gray 1px solid; */
    border-bottom: 3px solid #e6e6e6;

  }
  .space_file .uploded_files_space .file .file_name,
  .space_folder .uploded_folders_space .folder .folder_name{
    width: 50%;
    height: 85%;
    position: relative;
  }

  .space_file .uploded_files_space .file .file_name i,
  .space_folder .uploded_folders_space .folder .folder_name i{
    font-size: 1.75rem;
    position: absolute;
    top: 10%;
    color: #444;
    left: 6%;
  }

  .space_file .uploded_files_space .file .file_name p,
  .space_folder .uploded_folders_space .folder .folder_name p{
    width: 80%;
    position: absolute;
    left: 70%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 1.2rem;
    font-weight: 700;
    color: #6990F2;
  }
  
  .space_file .uploded_files_space .file .downlond,
  .space_folder .uploded_folders_space .folder .downlond{
    margin-top: 2px;
    position: relative;
    width:25%;
    height: 85%;
  }
  .space_file .uploded_files_space .file .downlond a,
  .space_folder .uploded_folders_space .folder .downlond a{
    margin-top: 1px;
    width: 50px;
    height: 45px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
  .space_file .uploded_files_space .file .downlond a:hover,
  .space_folder .uploded_folders_space .folder .downlond a:hover{
    border-bottom: 3px solid #312929;
    border-radius: 0px;
  }
  .space_file .uploded_files_space .file .downlond a .bx,
  .space_folder .uploded_folders_space .folder .downlond a .bx{
    font-size: 38px;
    position: absolute;
    left: 46%;
    top: 41%;
    transform: translate(-50%,-50%);
    color: #39435c!important;
  }
  .space_file .uploded_files_space .file .button-remove,
  .space_folder .uploded_folders_space .folder .button-remove{
    position: relative;
    width:25%;
    height: 85%;
    padding-top: 0.938rem;
  }
  
  .space_file .uploded_files_space .file .button-remove button,
  .space_folder .uploded_folders_space .folder .button-remove button{
    margin-top: 1px;
    width: 50px;
    height: 45px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    outline: none;
    border: none;
    background:white;
    cursor: pointer;
    border-radius: 10px;
  }
  .space_file .uploded_files_space .file .button-remove button:hover,
  .space_folder .uploded_folders_space .folder .button-remove button:hover{
    border-bottom: 3px solid #312929;
    border-radius: 0px;
  }

  .space_file .uploded_files_space .file .button-remove button .fa-trash-can,
  .space_folder .uploded_folders_space .folder .button-remove button .fa-trash-can{
    font-size: 1.875rem;
    position: absolute;
    left: 46%;
    top: 41%;
    transform: translate(-50%,-50%);
    color: #39435c!important;
  }

  @media screen and (max-width: 935px){
    .contener_uploads{
      height: fit-content;
      flex-direction: column;
    }
    .drop_space{
      flex-direction: row;
      height: fit-content !important;
      justify-content: space-evenly;
      width: 100%;
      margin-bottom: 0.6rem;
      /* height: 50vh !important; */
    } 
    .drop_space .upload_folder{
      margin-top: 0px;
      width: 45%;
      /* height: 25vh; */
      /* height: fit-content; */
    }
    .drop_space .upload-file{
      width: 45%;
      height: fit-content;
      /* height: 25vh !important; */
    }
    .space_folder{
      width: 100%;
      height:21.875rem
    }
    .space_file{
      width: 100%;
      height:21.875rem
    }
  }